// Jasmine

.TweetItemContainer {
  width: 620px;
  max-height: 186px;
  border: 1px solid #e6ecf0;
  border-bottom: none;
  background-color: white;
  display: flex;
  .Avatar {
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-left: 24px;
    &:hover {
      cursor: pointer;
    }
    border-radius: 50%;
  }
  .Tweet {
    width: 528px;
    margin-top: 16px;
    margin-left: 8px;
    .ClickableArea {
      &:hover {
        cursor: pointer;
      }
      z-index: 1;
    }
    .UserName {
      font-weight: 700;
      margin-right: 8px;
    }
    .UserAccount {
      color: #6c757d;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    .TweetContent {
      margin-top: 8px;
      margin-bottom: 9px;
      font-weight: 400;
      line-height: 26px;
    }
    .Icon {
      display: flex;
      margin-bottom: 18px;
      .Message {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 41.3px;
        &:hover {
          cursor: pointer;
        }
        .Reply {
          width: 19px;
          height: 19px;
          margin-right: 9.44px;
          z-index: 99;
        }
        .Number {
          color: #6c757d;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .Heart {
        display: flex;
        align-items: center;
        justify-content: center;
        .Like {
          width: 15px;
          height: 15px;
          margin-right: 9.3px;
          stroke: #6c757d;
        }
        .Liked {
          width: 15px;
          height: 15px;
          margin-right: 9.3px;
          stroke: #fc5a5a;
          fill: #fc5a5a;
        }
        .Number {
          color: #6c757d;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
