.NotiContainer {
  position: relative;
  margin: 15rem;
  width: 394px;
  height: 96px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
  .Context {
    display: inline-block;
    margin: 34px 0 34px 24px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .NotiBlue {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border: 2px solid #50b5ff;
    border-radius: 50%;
    padding: 15px;
  }
  .NotiGreen {
    @extend .NotiBlue;
    border: 2px solid #82c43c;
  }
  .NotiRed {
    @extend .NotiBlue;
    border: 2px solid #fc5a5a;
  }
  .NotiYellow {
    @extend .NotiBlue;
    border: 2px solid #ffc542;
  }
}
