// Jasmine

.PopularUserContainer {
  height: 82px;
  display: flex;
  align-items: center;
  .DefaultAvatar {
    width: 50px;
    height: 50px;
    margin-left: 16px;
  }
  .PopularUserName {
    margin-left: 8px;
    margin-right: 13px;
    .UserName {
      font-weight: 700;
    }
    .UserAcount {
      color: #92929d;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }
  }
  button {
    width: 96px;
    height: 40px;
    background: #ff6600;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}
