// Jasmine

.ReplyListContainer {
  width: 620px;
  height: 100%;
  margin-left: 333px;
  .ReplyListTopSection {
    position: relative;
    max-height: 650px;
    border: 1px solid #e6ecf0;
    border-top: none;
    .Heading {
      display: flex;
      align-items: center;
      color: #171725;
      font-size: 24px;
      font-weight: 700;
      margin: 0px;
      padding: 24px 0 24px 28px;
      border-bottom: 1px solid #e6ecf0;
      .Back {
        margin-right: 19px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .User {
      display: flex;
      align-items: center;
      padding: 16px 0 8px 16px;
      .DefaultAvatar {
        width: 50px;
        height: 50px;
      }
      .ReplyUser {
        margin-left: 8px;
        .UserName {
          color: #171725;
          font-weight: 700;
          line-height: 26px;
        }
        .UserAcount {
          color: #6c757d;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
    .TweetContent {
      color: #171725;
      font-size: 24px;
      margin-bottom: 8px;
      padding-left: 16px;
      padding-right: 45px;
      font-weight: 400;
      line-height: 36px;
    }
    .Time {
      color: #6c757d;
      font-size: 14px;
      line-height: 22px;
      margin-left: 16px;
      margin-bottom: 8px;
    }
    .ReplyAndLike {
      display: flex;
      width: 588px;
      height: 60px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: 700;
      line-height: 23px;
      border-top: 1px solid #e6ecf0;
      border-bottom: 1px solid #e6ecf0;
      .Number {
        margin-right: 6px;
        color: #171725;
      }
      .Context {
        color: #6c757d;
        margin-right: 24px;
      }
    }
    .Icon {
      height: 63px;
      display: flex;
      align-items: center;
      .Reply {
        margin-left: 16px;
        margin-right: 133px;
        width: 25px;
        height: 25px;
        &:hover {
          cursor: pointer;
        }
      }
      .Like {
        padding-right: 3px;
        width: 27px;
        height: 27px;
        &:hover {
          cursor: pointer;
        }
      }
      .Liked {
        padding-left: 2px;
        width: 22px;
        height: 22px;
        stroke: #fc5a5a;
        fill: #fc5a5a;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
