// Jasmine

.PopularUserListContainer {
  width: 273px;
  min-width: 250px;
  max-height: 731px;
  position: sticky;
  top: 0;
  .PopularUserContainer {
    background-color: #fafafb;
    width: 100%;
    margin: 16px 0 18px 24px;
    h4 {
      border-bottom: 1px solid #e6ecf0;
      color: #171725;
      font-size: 24px;
      font-weight: 700;
      margin: 0px;
      padding: 24px 0 12px 24px;
    }
    .PopularUserCollection {
      margin-left: 24px;
      padding-right: 16px;
    }
  }
}
