// 雪央

.Container {
  display: flex;
  .TweetListContainer {
    margin-left: 332px;
    width: 937px;
    .Header {
      width: 100%;
      font-size: 24px;
      font-weight: 700;
      padding: 20px;
      border: 1px dashed #e6ecf0;
      border-top: 0;
      position: fixed;
      background-color: white;
      z-index: 2;
    }
    .ListItemContainer {
      margin-top: 75px;
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 16px;
      z-index: 1;
      border-left: 1px dashed #e6ecf0;
    }
  }
}
