// 雪央

.Container {
  display: flex;
  justify-content: center;
  .TweetListContainer {
    width: 927px;
    .Header {
      width: 100%;
      font-size: 24px;
      font-weight: 700;
      padding: 24px;
      border: 1px dashed #e6ecf0;
      border-top: 0;
      position: fixed;
      background-color: white;
    }
    .ListItemContainer {
      margin-top: 76px;
    }
  }
}
